img,
svg {
    vertical-align: baseline !important;
}

.list-prep div.list-number {
    border-style: dashed;
}

.list-active div.list-number {
    border-style: solid;
}

div.list-number {
    width: 1.8rem;
    height: 1.8rem;
    border-width: 2px;
    border-radius: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.list-infocontent {
    font-size: 12px;
    font-style: italic;
}

.outer-content-padding {
    padding: 0rem !important;
}

.inner-content-padding {
    padding: 0rem !important;
}

.n-button {
    margin-bottom: 0.25rem;
}

.n-card {
    margin-bottom: 0.5rem;
}